* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: rgb(17, 14, 39);
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.App {
    min-height: 100vh;
    display: flex;
}

.sideBar {
    width: 300px;
    height: 100vh;
    border: 1px solid rgb(100, 100, 100);
    padding: 10px;
    box-sizing: border-box;
}

.main {
    flex: 9;
}

.logo {
    margin-right: .2rem;
}

.brand {
    font-size: 2rem;
}

.upperSide {
    padding: 2.5rem;
    border-bottom: 1px solid rgb(100, 100, 100);
    height: 70%;
}

.upperSideTop {
    display: block;
}

.midbtn {
    background-color: #4abff4;
    color: whitesmoke;
    border: none;
    padding: 1.3rem;
    width: 25rem;
    font-weight: bolder;
    border-radius: 1rem;
    margin-block: 5rem;
    margin-left: -1rem;
    font-size: 180%;
}

.query {
    background-color: transparent;
    color: whitesmoke;
    padding: 1.5rem;
    margin: 1rem auto;
    width: 25rem;
    border-radius: 1rem;
    border: 1px solid rgba(98, 98, 98, 1);
    margin-left: -1rem;
}

.lowerSide {
    padding: 2rem;
}

.listItems {
    margin: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.main {
    min-height: calc(100vh- 14rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 6rem 10rem;
    margin-bottom: 0;
}

.chats {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 17rem);
}

.chats::-webkit-scrollbar {
    width: 0;
}


/* Hide scrollbar for Firefox */

.chats {
    scrollbar-width: none;
}

.bot {
    background-color: rgba(28, 38, 58, 1);
    width: fit-content;
    border-radius: 1rem;
}

.chat Img {
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}

.chat {
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.chatFooter {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inp {
    padding: 1rem;
    background-color: rgba(28, 30, 58, 1);
    border-radius: 1rem;
}

.inp>input {
    outline: none;
    width: calc(100% - 3rem);
    padding: 1.25rem;
    color: white;
    width: 70rem;
}

.inp>input,
.send {
    background: transparent;
    border: none;
}

.chatFooter>p {
    margin: 2rem 0;
}